.footer 
    .footer__logo 
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        //- li: it will allow to put a tag on same line instead of writing below each time
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Anish. All rights reserved.